.form-group {
  margin-bottom: 28px;
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
  margin-left: -60px;
}

input[type="text"],
input[type="password"] {
  width: 378px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: transparent;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  height: 55px;
  color: #707070;
  padding: 20px;
}

button {
  width: 189px;
  height: 63px;
  background: #fccd2a 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: #1e5084;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  color: #1e5084;
  opacity: 1;
  font-size: 26px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3071a9;
  transition: 0.4s;
  color: #ffff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 104px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.geral {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noneText {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
